<div class="row">
  <div class="span12 columns">
    <fieldset>
      <%= form_for @upload, :method => "post", :multipart => true do |f| %>
        
        <% if @upload.errors.any? %>
          <div class="alert-message block-message error">
            <p><%= "#{pluralize(user.errors.count, "problem")} with your registration:" %></p>          
            <div class="errors">
              <% user.errors.full_messages.each do |msg| %>
                <p><%= msg %></p>
              <% end %>    
            </div>
          </div>
        <% end %>
        
       
        <%= f.hidden_field :charge_id %>

        <div class="field">
          <div class="clearfix">
            <%= f.file_field "file" %>
          </div>
        </div>
      
        
        <div class="actions">
          <%= f.submit "Upload", :class => "btn primary upload"%>
        </div><!-- .actions -->
        
      <% end %>
    </fieldset>
  </div>
</div>