<title>Appworld</title>
<%= stylesheet_link_tag "bootstrap" %>
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "bootstrap_alerts" %>
<%= csrf_meta_tags %>