<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/header" %>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="#">App World</a>
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><%= link_to "Login", new_session_path %></li>
          <li><%= link_to "Sign up", new_user_path %></li>
        </ul>
        <form action="" class="pull-right">
          <input class="input-small" type="text" placeholder="Username">
          <input class="input-small" type="password" placeholder="Password">
          <button class="btn primary" type="submit">Sign in</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">

      <%= yield %>
      
    </div>
    <%= render "layouts/footer" %>
    <%= debug(params) if Rails.env.development? %>
  </div> <!-- /container -->
</body>
</html>
